<!DOCTYPE html>
<html>
    <body>

        <form action="/orders" method="POST">
            <fieldset>

                <legend align="center">Order/Parcel registration</legend><br><br>

                <label>Date:</label>
                <input type="date" name="date" required><br><br>

                <label>Details:</label>
                <textarea name="details" required></textarea><br><br>

                <label>Time:</label>
                <input type="time" name="time" required><br><br>

                <label>Confirm:</label>
                <input type="checkbox" name="confirm" value="mndimi" required><br><br>

                <button type="submit">Save</button>
            </fieldset>
        </form>
    </body>
</html>