<html>

<body>

    <table border="1">
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Time Out</th>
            <th>Time In</th>
            <th>Sign</th>
            <th>Allow</th>
        </tr>

        <tr>
            {%if checks%}
            {%for check in checks %}
            
            
            <td>{{check.date}}</td>

            <form action="/staff_check" method="post">
            
            <td><input type="text" name="name" value="{{check.name}}"></td>
            <td>{{check.time_out}}</td>
            
            <td><input type="time" name="time_in"></td>
            <td><input type="checkbox" name="sign_in" value="mdimi"></td>
            <td><button type="submit">Allow</button></td>
            </form>
            {%endfor%}
            {%else%}
            <p>No data found</p>
            {%endif%}

        </tr>


    </table>
    </form>
</body>
</html>