<!DOCTYPE html>

<html>


   <body>

    <hr>

    <button><a href="{{url_for('visitor_register')}}">visitor_reg</a></button>
    <button><a href="{{url_for('student_regist')}}">student_reg</a></button>
    <button><a href="{{url_for('staff_regit')}}">staff_reg</a></button>
    <button><a href="{{url_for('student_item')}}">st_itreg</a></button>
    <button><a href="{{url_for('school_car')}}">sch_car_reg</a></button>
    <button><a href="{{url_for('private_car')}}">private_car_reg</a></button>
    <button><a href="{{url_for('order')}}">order_reg</a></button>
    <button><a href="{{url_for('org_prop')}}">org_prop_reg</a></button>
    <button><a href="{{url_for('student_check')}}">st_check</a></button>
    <button><a href="{{url_for('visitor_check')}}">v_check</a></button>
    <button><a href="{{url_for('staff_checksforall')}}">staff_check</a></button>
    <button><a href="{{url_for('st_items_check')}}">st_items_check</a></button>
    <button><a href="{{url_for('v_hist')}}">v_hist</a></button>
    <button><a href="{{url_for('st_hist')}}">st_hist</a></button>
    <button><a href="{{url_for('scars_hist')}}">scars_hist</a></button>
    <button><a href="{{url_for('st_item_hist')}}">st_item_hist</a></button>
    <button><a href="{{url_for('sch_item_hist')}}">sch_item_hist</a></button>
    <button><a href="{{url_for('private_car_hist')}}">staff_reg</a></button>
    <button><a href="{{url_for('order_hist')}}">order_hist</a></button>
    
    
    
    
    
    
    
    

    <hr>

    
    <form action="/visitor_reg" method="POST">
        <fieldset>

        <legend align=center>Visitor registration</legend><br><br>
        
        <label>Date:</label>
        <input type="date" name="date" required><br><br>

        <label>Name:</label>
        <input type="text" required name="name"><br><br>

        <label>Id:</label>
        <input type="text" required name="id_no"><br><br>

        <label>Contact:</label>
        <input type="tel" required name="contact"><br><br>

        <label>Destination:</label>
        <input type="text" required name="destiny"><br><br>

        <label>Reason:</label>
        <textarea required name="reason"></textarea><br><br>

        <label>category:</label>
        <select name="category">
          <option>-------</option>
            <option value="parent">Parent🟢</option>
            <option value="casual">Casual🟡</option>
            <option value="other">Other</option>
        </select><br><br>

        <label>Items:</label>
        <textarea required name="items"></textarea><br><br>

        <label>Time in:</label>
        <input type="time" required name="time_in"><br><br>

        <label>confirm:</label>
        <input type="checkbox" required name="confirm" value="mndimi"><br><br>

        <button type="submit">submit</button>
        
      </fieldset>
    </form>
    </legend>
   </body>
</html>